@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

.dashboard .tracker {
    overflow: hidden;
}

.bottom {
    bottom: 0;
}

.left {
    float: left;
}

.middle {
    float: left;
    width: 50%;
}

.right {
    float: left;
}

.under {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.goals {
    color: #5E19BA;
    margin-left: 20px;
}

.goals h3 {
    color: #5E19BA;
    margin-bottom: 8px;
}