@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

.right {
    margin-left: auto; 
    margin-right: 0;
}

.bottom {
    margin-top: auto;
    margin-bottom: 0;
}

.nav h3 {
    color: white;
}
