.mealplan {
    height: 100vh;
    overflow: hidden;
}

.mealplan .left {
    float: left;
    width: 20vw;
}

.mealplan .right {
    float: left;
    width: 75%;  
    height: 100vh;
    overflow: auto;
}

.nutrients h1 {
    color: #7248C3;
}

.nutrients h2 {
    color: #EA9C39
}

.mp-generator {
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.mp-generator h1 {
    color: #7248C3;
    margin-bottom: 0;
    font-size: 4vh;
}

.mp-generator h3 {
    color: #EA9C39;
    margin-top: 1%;
}

.mp-generator h5 {
    color: white;
    margin-top: 10%;
    text-align: center;
}

.right-align{
    display: inline-flex;
    color: #7248C3;
    white-space: nowrap;
    margin-left: auto;
    margin-right: 0;
    margin-top: 3%;
    align-items: center;
}

.drop {
    display: grid;
    align-self: center;
}

.drop h3 {
    margin-right: 5%;
    color: #7248C3;
}

.buttondiv {
    margin-top: 5%;
    text-align: center;
}

.desc {
    width: 100%;
    padding-right: 3%;
    padding-bottom: 1%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0px 0px 20px 0px;
    text-align: right;
    color: white;
    background-image: linear-gradient(to right, rgba(103,162,29,0), rgba(103,162,29,1));
}

.desc h1 {
    color: white;
    font-size: 2.8vh;
}

.desc li {
    list-style-type: none;
    font-size: 2vh;
}

.generated {
    padding: 1%;
    padding-bottom: 8%
}